
*{
    padding: 0;
    margin: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* background: linear-gradient(to right, rgb(245, 242, 242),rgb(234, 194, 152)); */
    background: url(modern-living-room-interior-design\ \(5\).jpg) center center/cover no-repeat;
}
.overlay{
    background:  linear-gradient(to right, rgba(245, 242, 242,0.6),rgba(234, 194, 152,0.6));
    min-height: 100%;
    /* background:  rgb(22, 65, 69,0.7); */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.section1{
    height: 100vh;
}
nav{
    width: 100%;
    height: auto;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.logo{
    display: block;
    top: 0;
    left: 0;
    font-size: 3rem;

} 
.nlogo{
    width: 200px;
}
.fa-bars{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none !important;
}
.fa-xmark{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
   display: none;
}
.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-container .links a{
    position:relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 550;
    transform: 0.3s linear;
}
.nav-container .links a::before{
    position:absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgba(109,67, 0, 1);
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-500px);
    width: 30%;
    height: auto;
    backdrop-filter: brightness(40%)blur(3px);
    box-shadow:  0 0 20px black;
    transition: 0,2s linear;
}
.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color:rgba(109,67, 0, 1);
}
.section{
    width: 100%;
    height: 90vh;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 2rem; */
}
.main-container .image img{
    width: 100%;
}
.resimg{
    width: 350px;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 10%;
    border: 3 PX solid black;
}
.main-container .content{
    color: black;
    width: 43%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem,2rem + 5vw,3rem);
}
.content h1 span{
    color: rgba(109,67, 0, 1);
    /* text-shadow:  0 0 10px rgba(109,67, 0, 0.7); */
}
.content .typewrite{
    font-weight: 600;
    font-size: clamp(1rem,1rem + 5vw,2rem);

}
.content .typewrite span{
    color: rgba(109,67, 0, 1);
    font-size: 2.5rem;
    /* text-shadow: 0 0 5px rgba(109,67, 0, 1); */
    position: relative;
    transition: 0.1s linear;
}
.typewrite span::before{
    content: "Artist";
    animation: words 5s infinite;

}
.typewrite span::after{
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear;
}
@keyframes cursor {
    to{
        border-left: 3px solid #b74b4b;
    }
}
@keyframes words {
    0%,33%{
        content: " Artist...";
    }
    34%,66%{
        content: " Designer...";
    }
    67%,100%{
        content: " illustrator...";
    }
    
}
.content .typewrighte{
    font-weight: 600;
    font-size: clamp(1rem,1rem + 5vw,2rem);

}
.content .typewrighte span{
    color: rgba(109,67, 0, 1);
    font-size: 2.5rem;
    /* text-shadow: 0 0 5px rgba(109,67, 0, 1); */
    position: relative;
    transition: 0.1s linear;
}
.typewrighte span::before{
    content: "Artist";
    animation: elements 5s infinite;

}
.typewrighte span::after{
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursors 0.6s linear;
}
@keyframes cursors {
    to{
        border-left: 3px solid #b74b4b;
    }
}
@keyframes elements {
    0%,33%{
        content: " Instructor...";
    }
    34%,66%{
        content: " Artist...";
    }
    67%,100%{
        content: " Supervisor...";
    }
    
}
.content p{
    font-size: clamp(0.4rem,0.2rem + 9vw,1rem);
    margin: 10px 0;
    font-weight: 500;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid rgba(109,67, 0, 1);
    color: rgba(109,67, 0, 1);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: rgba(109,67, 0, 1);
    filter: drop-shadow(0 0 10px rgba(109,67, 0, 1) );
}

@media (max-width:884px) {
    body{
        overflow-Y:visible;
    }
    nav .logo{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.5rem;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .fa-bars{
        display: block !important;
    }
    .fa-xmark{
        display: block !important;
        color: white;
    }
    .nav-container .links{
        display: none;
    }
    .main-container{
        margin-top: 7rem;
    }
    .main-container .content{
        width: 80%;
    }
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        height: 500px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .resimg{
        width: 400px;
        height: auto ;
    }
    .nlogo{
        width: 150px;
    }

}
@media (max-width:1030px) {
    .resimg{
    width: 350px;
    }
}
@media (max-width:770px) {
    .resimg{
        width: 300px;
        margin-top: 1rem;
    }
    body{
        margin-bottom: 2rem;
    }
}
@media (max-width:430px) {
    .content h1{
        font-size: clamp(1rem,1rem + 5vw,2rem);
    }
    .content h1 span{
        color: rgba(109,67, 0, 1);
        text-shadow:  0 0 10px rgba(109,67, 0, 0.7);
    }
    .content .typewrite{
        font-weight: 600;
        font-size: clamp(1rem,1rem + 5vw,2rem);
    
    }
    .content .typewrighte span{
        color: rgba(109,67, 0, 1);
        font-size: 2.1rem;
        /* text-shadow: 0 0 5px rgba(109,67, 0, 1);*/
        position: relative;
        transition: 0.1s linear;
    }
    .content .typewrite span{
        color: rgba(109,67, 0, 1);
        font-size: 2.1rem;
        /* text-shadow: 0 0 5px rgba(109,67, 0, 1); */
        position: relative;
        transition: 0.1s linear;
    }
    .nav-container .links a{
        font-size: 0.3rem;
        font-weight: 500;
        transform: 0.3s linear;
    }
   
    .nav-container .links a:hover::before{
        width: 100%;
    }
    
    .dropdown{
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-500px);
        width: 30%;
        height: auto;
        backdrop-filter: brightness(40%)blur(3px);
        box-shadow:  0 0 20px black;
        transition: 0,2s linear;
    }
    .dropdown .links a{
       
        justify-content: center;
        padding: 10px 0;
    }
    .dropdown .links{
        margin-top: 2rem;
    }
    .fa-bars{
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
        color: black;
        font-size: 1.5rem;
        display: block !important;
    }
    .fa-xmark{
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
        color: white;
        font-size: 1.5rem;
       display: block;
    }
    
}


    
