*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(242, 235, 223);
    box-sizing: border-box;
    padding-bottom: 2rem;
    overflow-x: hidden;
}
.head{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 1rem 0;
    padding: 1rem;
    color: rgb(185, 140, 98);
    width: 100%;
    text-decoration: underline  rgb(22, 65, 69,0.9);
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,  420px);
    gap: 30px;
    width: 100%;
    /* height:400px; */
    justify-content: center;
    padding-bottom: 1.5rem;
    margin: 1rem;
}
.img{
    height: 380px;
    width: 420px;
    background-color: #fff;
    flex-shrink: 0;
    position: absolute;
    align-items: center;
    /* margin: 2px; */
    border-radius: 20px;
}
.container:hover .img{
    transform:scale(1.075);

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
}
.container{
    position: relative;
    width: 420px;
    height: 380px;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
   
}
.container:hover .overlay{
    opacity: 1;
}
.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.fullscreen img{
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
}
.fullscreen:hover .overlay{
    opacity: 0 !important;
}
@media screen and (max-width: 1440px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 420px);
        gap: 20px;
        width: 100%;
        /* height:400px; */
        justify-content: center;
        padding-bottom: 1.5rem;
        margin: auto;
        margin-left: 13px;
    }
    .fullscreen{
        position: fixed;
        top: 10px;
        left: 15px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        /* margin-left: 1rem; */
    }
    .container{
        height: 380;
        width: 420;
    }
    .img{
        height: 380;
        width: 420;
    }
}



@media screen and (max-width: 1030px) {
    .img{
        height: 350px;
        width: 330px;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        align-items: center;
        /* margin: 2px; */
        border-radius: 20px;
    }
    .overlay{
        height: 350px;
        width: 344px;
    }
    .container {
        width: 350px;
        height: 330px;

    }
    .grid{
        grid-template-columns: repeat(3,330px);
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        padding-bottom: 1.5rem;
        gap: 20px;
        margin-left: 2.5rem;
        
    }

    .fullscreen{
        position: fixed;
        top: 21px;
        /* left: 0; */
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        margin-left: 2.2rem;
        border-radius: 20px;
    }
    .head{
        font-size: 4rem;
        margin: 1rem 0;
        padding: 1rem;
    }
    
}
@media screen and (max-width:770px) {
    .img{
        height: 330px;
        width: 350px;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        align-items: center;
        /* margin: 2px; */
        border-radius: 20px;
    }
    .overlay{
        height: 330px;
        width: 350px;
    }
    .container {
        width: 350px;
        height: 330px;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        padding-bottom: 1rem;
        gap: 15px;
        margin-left: 1.2rem;
        
    }
    .overlay{
        line-height: 20px;
        font-size: 1rem;
    }
    .fullscreen{
        position: fixed;
        top: 16px;
        /* left: 0; */
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        margin-left: 0rem;
        border-radius: 0%;
    }
    .head{
        font-size: 3.5rem;
        margin: 1rem 0;
        padding: 1rem;
    }
}    
@media screen and (max-width:430px) {
    .img{
        height: 330px;
        width: 380px;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        align-items: center;
        /* margin: 2px; */
        border-radius: 20px;
    }
    .overlay{
        height: 330px;
        width: 380px;
    }
    .container {
        width: 380px;
        height: 330px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        padding-bottom: 1rem;
        gap: 15px;
        margin-left: 1.2rem;
        
    }
    .overlay{
        line-height: 20px;
        font-size: 1rem;
    }
    
    .head{
        font-size: 3rem;
        margin: 1rem 0;
        padding: 1rem;
    }
}

@media screen and (max-width:380px) {
    .img{
        height: 300px;
        width: 350px;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        align-items: center;
        /* margin: 2px; */
        border-radius: 20px;
    }
    .overlay{
        height: 300px;
        width: 350px;
    }
    .container {
        width: 350px;
        height: 300px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        padding-bottom: 1rem;
        gap: 15px;
        margin-left: 1.2rem;
        
    }
    .overlay{
        line-height: 20px;
        font-size: 1rem;
    }
    
    .head{
        font-size: 2.5rem;
        margin: 1rem 0;
        padding: 1rem;
    }
}
@media screen and (max-width:320px) {
    .img{
        height: 300px;
        width: 330px;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        align-items: center;
        /* margin: 2px; */
        border-radius: 20px;
    }
    .overlay{
        height: 300px;
        width: 330px;
    }
    .container {
        width: 330px;
        height: 300px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        padding-bottom: 1rem;
        gap: 15px;
        margin-left: 1.2rem;
        
    }
    .overlay{
        line-height: 20px;
        font-size: 1rem;
    }
    
    .head{
        font-size: 2.5rem;
        margin: 1rem 0;
        padding: 1rem;
    }
}
.back-button {
    padding: 10px 20px;
    background-color: rgb(22, 65, 69,0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    z-index:1000;
    font-size: 0.8REM;
    position: relative;
  }
  
  .back-button:hover {
    background-color:  rgb(22, 65, 69,1);
  }