*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(245, 223, 205);

}
.main{

}
.head{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 4rem;
    text-decoration: underline;
    color: rgb(71, 14, 14);
}
.grid{
    /* margin: 0 4rem; */
    margin-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.overlay{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(106, 74, 74) ;
    color: white;
    margin-bottom: 1rem;
    height: 370px;
    padding: 20px;
    /* border-radius: 30px; */
}
.img{
    height: 350px;
    width: 600px;
    background-color: #fff;
    flex-shrink: 0;
}
.info{
    flex: 1;
    padding-left: 20px;
    /* margin: 100px; */
    font-size: 20px;
    line-height: 30px;
}
#right{
    right: 0;
    margin-left: 15%;
}
#left{
    /* right: 0; */
    margin-right: 15%;
}
#img1{
    background-image: url(beautiful-home-with-healthy-plants.jpg);
    background-size: cover;
    background-position: center;
}
#img2{
    background-image: url(LIVING\ ROOM\ 1.jpg);
    background-size: cover;
    background-position: center;
}
#img3{
    background-image: url(modern-living-room-interior-design.jpg);
    background-size: cover;
    background-position: center;
}
#img4{
    background-image: url(modern-living-room-interior-design\ \(3\).jpg);
    background-size: cover;
    background-position: center;
}
#img5{
    background-image: url(modern-living-room-interior-design\ \(4\).jpg);
    background-size: cover;
    background-position: center;
}
#img6{
    background-image: url(modern-living-room-interior-design\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}
#img7{
    background-image: url(armchair-green-living-room-with-copy-space.jpg);
    background-size: cover;
    background-position: center;
}
#img8{
    background-image: url(modern-living-room-interior-design\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:1040px) {
    .head{
        font-size: 3.5rem;
    }
    .overlay{
        height: 320px;
    }
    .img{
        height: 300px;
        width: 450px;
    }
    .info{
        flex: 1;
        padding-left: 10px;
        /* margin: 100px; */
        font-size: 17px;
        line-height: 25px;
    }
    #right{
        right: 0;
        margin-left: 12%;
    }
    #left{
        /* right: 0; */
        margin-right: 12%;
    }
    
}

@media screen and (max-width:770px) {
    .head{
        font-size: 3rem;
    }
    .overlay{
        height: 320px;
    }
    .img{
        height: 280px;
        width: 390px;
    }
    .info{
        flex: 1;
        padding-left: 9px;
        /* margin: 100px; */
        font-size: 14px;
        line-height: 23px;
    }
    #right{
        right: 0;
        margin-left: 10%;
    }
    #left{
        /* right: 0; */
        margin-right: 10%;
    }
    
}
@media screen and (max-width:430px){

    
}

