
.container{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
    display: block;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3 ease;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container:hover .overlay{
    opacity: 1;
}